<?php

$connectionParams = array(
    'dbname' => '- - DB NAME - -',
    'user' => '- - USER - -',
    'password' => '- - PASSWORD - -',
    'host' => '- - HOST - -',
    'driver' => 'pdo_mysql',
);

?>